{{ define "main" }}
<div class="h-entry">
  {{ if .Title }}<h1 class="p-name">{{ .Title }}</h1>{{ end }}
  <p>
    <i>
      <a href="{{ .Permalink }}" class="u-url">
        <time datetime='{{ .Date.Format "2006-01-02" }}' class="dt-published">
          {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
        </time>
      </a>
    </i>
  </p>
  <div class="e-content">
    {{ .Content }}
  </div>
  {{ if .Site.Params.include_conversation }}
    <script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
  {{ end }}
  <p>
    {{ range (.GetTerms "tags") }}
    <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
    {{ end }}
  </p>
</div>
{{ end }}
